@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.edit-stack {
    font-family: Roboto Condensed, sans-serif;

    .heading {
        font-size: 20px;
        padding: 13px 10px 11px 10px;
        background: #0088CC;
        color: $white;
        h4{
            font-weight: bold;
            
        }
    }

    .detail-sec {
        padding: 15px 10px 8px 10px;

        background: $white;
        @include media (phone){
            padding:.25rem;
            padding-left: 0;

        }

        .button-sec {
            display: flex;
            font-size: 12px;

            .btn {
                width: 26%;
                font-weight: 600;
                padding: .5rem 0.5rem !important;
                font-size: 12px !important;
                text-transform: uppercase;
              
                color: black;
                background: #CCCCCC;
border: none;

outline: none;
                @include media(phone) {
                    width: 30%;
                }
&:focus{
box-shadow: none;
}
             
            }
            .active{
                background-color:#2C3E50;
                color: white;
            }
        }
    }

    .price-sec {
        padding: 0px 10px 0px 10px;
        @include media(phone) {
        padding: 0px 0px 0px 0px;
        }
        .list-name {
            display: flex;
            gap: 4%;
            justify-content: space-between;
            margin-bottom: 14px;
            

            

            P {
                width: 49%;
                color: $black;
                font-size: 16px;
                font-weight: bold;
                 @include media(phone) {
text-align: center;
font-size: 12px;
font-weight: bold;
            }}
        }

        .edit-inputs {
            display: flex;
            gap: 3%;
            margin-bottom: 15px;

            input {
                width: 48%;
                background-color: $white;
                border-radius: 0px;
                outline: none;
                font-size: 1rem;

                border: 1px solid #dbdbdb;
                color: $black;

                padding: 8px 5px;
                @include media(phone) {
                    width: 49%;
                }
                // &:hover{
                //     border-color: #dbdbdb;
                // }
            }
        }

    }

    .submit {
        padding: 0px 10px;
        margin-bottom: 25px;
        @include media(phone) {
        display: flex;
        justify-content: center;
        }

        .btn {
            padding: 7px 0 !important;
            width: 15%;
            background: #0088CC;
            color: $white;
            // border-radius: 8px;
            @include media(phone) {
                font-weight: 400;
    line-height: 1.5;
    font-size: 1rem !important;
            }
        }
    }
}