@import"../../styles/variables/mixins";
@import"../../styles/variables/colors";

.login-container {
    width: 100%;
    height:calc(100vh - 52px);
    background-image: linear-gradient(#0088CC, #2C3E50);

    min-height: calc(100vh - 74px);
    @include media(phone) {
        height: 100vh;
    }

    .login-center-col {
        margin: 0 auto;
        max-width: 380px;
        // padding: calc(1.3125rem + .75vw) .9375rem;
        padding: 1.875rem .9375rem;

        .login-logo-head {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 140px;
                max-width: 63%;
                vertical-align: middle;
            }
        }

        form {
            margin-top: 1.5rem;
            background: $white;
            border-radius: 4px;
            box-shadow: 0 0 5px $white;
            margin-top: calc(1.275rem + .3vw);
            padding: 1.25rem;
padding-top: 5px;
            .login-heading {
                color: $black;
                font-size: 1.375rem;
                margin-bottom: .625rem;
                text-align: center;
                text-transform: uppercase;
            }

            .input-row {
                width: 100%;
                margin-bottom: 1.5rem;
                display: flex;
                background-color: $white !important;
                border: 1px solid #dbdbdb !important;
                justify-content: space-between;
                border-radius: 0.375rem;
                overflow: hidden;

                .input {
                    width: calc(100% - 40px);

                    input {
                        width: 100%;
                        background-color: $white !important;
                        color: $black !important;
                        padding: 5px;
                        outline: none;
                    }
                }

                .input-icon {
                    align-items: center;
                    background-color: #e9ecef;
                    border: 1px solid #dbdbdb;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    display: inline-flex;
                    justify-content: center;
                    // margin-left: -1px;
                    width: 40px;
                }
            }

            .login-btn-container {
                margin-top: .5rem;
                width: 100%;

                button {
                    margin-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-inline: 0.75rem;
                    padding-block: 0.6rem;
                    font-size: 1rem;
                    font-weight: 400;
                    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                    box-shadow: inset 0 1px 0 #ffffff26, 0 1px 1px rgba(0, 0, 0, .075);
                    width: 100%;
                    background-color: #0088CC;
                    border-color: #0088CC;
                    color: $white;
                    position: relative;

                    i {
                        width: 1em;
                        position: absolute;
                        right: 12px;
                        font-size: 18px;
                        top: 50%;
                        transform: translateY(-50%);

                    }
                }
            }

            .login-captcha {
                width: 100%;
                font-size: 9px;
                margin-top: .5rem;
                text-align: center;

                // white-space: nowrap;
                span {
                    color: #72bbef;
                }
            }
        }
    }

    .login-footer {
        background-color: #0088CC;
        bottom: 0;
        color: $white;
        left: 0;
        // padding: .625rem;
        position: fixed;
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;
       
        @include media(phone) {
    padding-top: 0;
    padding-bottom: 0;
        }
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            @include media(phone) {
                flex-direction: column;
            }
            .policy{
              span{

                  font-size: 1rem;
                  margin-right: 20px;
                //   text-decoration: underline;
                  a{
                    color: white;
                  }
             
                  @include media (phone){
                  width: 50%;
                  margin-right: 0;
                  font-size: 14px;
                  }
              }
              @include media (phone){
                display: flex;
                justify-content: space-between;
                text-decoration: underline;
              }
            }
            .support{
                font-size: 20px;
            }

            li {
                display: flex;
                align-items: center;
                width: 33.33333333%;
                padding: .25rem !important;
                font-size: 1rem;
                justify-content: center;

                font-weight: 600;
                margin: 7px;

                @include media(phone) {
                    width: 100%;
                }

                &:nth-child(1) {
                justify-content: start;
                    
                    font-size: 1.5rem;
                    align-items: start;
                    @include media(phone) {
                        margin: 0rem !important;
                        padding: 0rem !important;
                        margin-top: 10px !important;
                       font-size:calc(1rem + .3vw);
                    }
                }
                &:nth-child(2) {
                justify-content: center;
                @include media (phone){
                    // justify-content: center;
                    padding: 0;
                    margin: 0;
                }

                }
                &:nth-child(3) {
                justify-content: end;
                @include media (phone){
                    justify-content: center;
                }

                }

                img {
                    margin-right: 10px;
                    max-height: 30px;
                    max-width: 100px;
                }
            }
        }
    }
}

.fa-hand-point-down{
position: relative;
    &::before {
        content: "\f0a7";
        font-family: "Font Awesome 5 Free";
    }
}
.fa-key {

    &::before {
        content: "\f084";
    }
}
.fa-sign-in-alt{

    &::before {
        content: "\f2f6";
    }
}
.fas {
    font-family: "Font Awesome 5 Free";
}