@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

// .select {
//     width: 25%;
//     @include media(phone) {
//         width: 100%;
//     }

// }



.statement-form {


    .date-filter-row {
        gap: 20px;
        @include media(phone) {
            flex-direction: column;
            gap: 8px;
        }

        .date-picker {
            border: 1px solid #dbdbdb;
            height: 38px;
            // width: 16.66666667%;
            width: 154px;
            // border-radius: 2px;
            overflow: hidden;

            @include media(phone) {
                width: 100%;
            }

            .react-datepicker-wrapper {
                @include media(phone) {
                    width: 100%;
                }

            }

            .react-datepicker__calendar-icon {
                font-size: 17px;
            }

            .react-datepicker__view-calendar-icon input {

                padding: 5px;
                padding-top: 6px;
                width: 100%;
                outline: none;

            }
        }
        .select {
    // width: 25%;
    width: 240px;

    @include media(phone) {
        width: 100%;
    }

}

    }

    .entries-row {
        margin-top: 12px;
        @include media(phone) {
            margin-top: 3px !important;
        } 
        span{
            @include media(phone) {
                font-size: 12px;
                font-weight: 400;
            } 

        }
        .entries-left-col {
            margin-top: 3px;
            select {
                padding: 5px 2px 5px 2px;
                width: 12%;
                // width: 40px;
                border: 1px solid #dbdbdb;


                @include media(phone) {
                    width: 100%;
                    padding: 5px;
                    border: 0;
                    border-right: 4px solid transparent;
                }
            }
            #demo-simple-select{
                @include media(phone) {
                width: 50px;
                }
            }
        }

        .entries-right-col {
            @include media(phone) {
                font-size: 12px;
                font-weight: 400;
                display: flex;
                margin-top: 4px;
            } 
           
            input{
                // width: 19.5%;
                width: 100px;
                border-radius: 0px;
                // margin-left: 5px;
                // font-size: 1rem;
                // font-weight: 400;
                // line-height: 1.7;
                outline: none;
                @include media(phone) {
                    width: 120px;

                }
                &::placeholder{
                    color: gray;
                    font-weight: 400;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 16px;
                }
            }
        }
    }

    .mt2 {
      
        .table-bordered {
            @include media(phone) {
                width: 100%;

                tr,
                th {
                    padding: none !important;
                }
            }
        }
    }
}

.form-btn {
    // width: 16.66666667% ;
width: 155px;
    @include media(phone) {
        width: 100%;
    }

    .btn {
        width: 100%;
        background-color: $black;
        color: #FFFFFF;
        border-color: $black;
        height: 38px;
        padding: .375rem .75rem;
        font-size: 1rem;
        // border-radius: .25rem;
    }
}

.calnder {
    position: absolute;
    right: 0%;
    top: 0%;
}

.statement-body {
    ::-webkit-scrollbar {
        display: none !important;
      }
    .account-table {
        min-height: calc(100vh - 350px);
        overflow-x: scroll;
        ::-webkit-scrollbar {
            display: none !important;
          }
        margin-top: 0.5rem;

        table {
            tr {
                th {
                    white-space: nowrap;
                    background-color: #384b5e;
                    color: $white;
                    font-size: 16px;
                    @include media (phone){
                        font-size: 11px;

                    }
                }

                td {
                    white-space: nowrap;
                }
            }
        }
    }
}
.react-datepicker__input-container input{
    padding: 6px 10px 5px 5px !important;
}