@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.radio-input {
    &:checked {
        background-color: $black;
    }
}

.current-bet-form {
    @include media(phone) {
    font-size: 12px;
    }
    .select-area {
        width: 100%;

        @include media(phone) {
            flex-direction: column;
        }

        .select-menu {
            @include media(phone) {
                width: 100%;

            }

            .react-datepicker-wrapper {
                @include media(phone) {
                    width: 100%;

                }

            }

        
        
        }

        .form-btn {
            @include media(phone) {
                width: 100%;


            }
            .btn {
                width: 100%;
            }

        }

    }
    .entries-container{
        .soda-amount{
            margin-top: 10px;
        }
.search{
    @include media(phone) {
        justify-content: flex-start;
    }
    .searchField {
        width: 100px;       
        border: 1px solid #ccc;
        padding: 6px 10px 5px 15px;
        @include media(phone) {
            width: 130px;
            border-radius: 0px;
        }
    }
}
    }

}

.mt-2 {
    @include media(phone) {
        overflow: hidden;
        overflow-x: scroll;


    }


}

tr {
    th{

        white-space: nowrap;
        background-color: #384b5e;
        color: $white;
        font-size: 12px;
    }
    td {
        font-size: 12px;
        text-align: center;
    }
}