@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.radio-input {
    &:checked {
        background-color: $black;
    }
}

.current-bet-form {
    margin-bottom: 15px;
    @include media(phone) {
    font-size: 12px;
    }
    .select-area {
        width: 100%;
        gap: 20px !important;

        @include media(phone) {
            flex-direction: column;
        }

        .select-menu {
            @include media(phone) {
                width: 100%;

            }

            .react-datepicker-wrapper {
                @include media(phone) {
                    width: 100%;

                }

            }

        
        
        }

        .form-btn {
            width: 155px;
            @include media(phone) {
                width: 100%;


            }
            .btn {
                width: 100%;
            }

        }

    }
    .entries-container{
        margin-top: 31px;
        gap: 20px;
        .soda-amount{
            margin-top: 10px;
        }
.search{
    @include media(phone) {
        justify-content: flex-start;
    }
    .searchField {
        width: 100px;       
        border: 1px solid #ccc;
        padding: 6px 10px 5px 15px;
        outline: none;
        @include media(phone) {
            width: 125px;
            border-radius: 0px;
            font-family: Arial, Helvetica, sans-serif;
        }
        &::placeholder {
            color: #999999; /* Change this to your desired color */
            opacity: 1;
            font-weight: 400; /* Adjusts the opacity, can be from 0 to 1 */
          }
        
    }
}
    }

}

.mt-2 {
    @include media(phone) {
        overflow: hidden;
        overflow-x: scroll;


    }


}

    .mt-2 {
        min-height: calc(100vh - 350px);
        overflow-x: scroll;
                table {
tr {
    th{

        white-space: nowrap;
        background-color: #384b5e;
        color: $white;
        font-size: 16px;
        padding: 11px 12px;
    }
    td {
        font-size: 12px;
        text-align: center;
    }
}}}