@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.odds-row-container {
    background-color: #f7f7f7;
    
    border-top: 0.01em solid #c7c8ca;
   @include media(phone){
    border-top: none;
   }
    &:last-child{

        // border-bottom: 0.01em solid #c7c8ca;
    }
    @include media(phone) {
        flex-direction: column;
        gap: 0 !important;
    }

    .odds-row-left-col {
        padding-left: 0.3rem;

        @include media(phone) {
            width: calc(100% - 0px);
            align-items: end;
            padding-right: 5px;
            border-top: 1px solid #c7c8ca;
margin-top: 5px;
            
        }

        span {
            color: #333;
            display: inline-block;
            max-width: calc(100% - 100px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: flex;

            @include media(phone) {
                width: auto;
                max-width: calc(100% - 0px);
                white-space: initial;
                font-weight: bold;
                flex-direction: column;

            }

            p {
                font-weight: 400;

                @include media(phone) {
                    font-size: 12px;

                }
            }
        }

        .icon-di {
          

            svg {
                @include media(phone) {

                    font-size: 13px;
                }
            }

           

            img {
                width: 19px;

                @include media(phone) {

                    width: 15px;
                    height: auto;
                }
            }
             .active-match{
                width: 10px;
                height: 10px;
                background: #28a745;
                border-radius: 50px;
            }
        }
    }

    .odds-row-right-col {
        width: 40.4%;

        .lock-odds {
            svg {
                color: $white;
            }
        }

        @include media(phone) {
            width: 100%;
        }

        ul {

            margin: 0%;
            padding: 0%;

            // margin-top: 20px;
            li {

                @include media(phone) {
                    font-size: 14px;
                    font-weight: 700;
                }
            }
        }
    }
}

.odd-box {
    padding: 1px;
    width: 100%;
    text-align: center;

    @include media(phone) {
        padding: 0px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bet-odd {
        color: #273a47;
        font-size: 14px;
    }
}

.back {
    background-color: #72bbef;
}

.lay {
    background-color: #faa9ba;
}

.odd-row-header {
   padding-block: 4px;
   @include media(phone) {
padding: 0px;
   }
    .odds-row-left-col {
        @include media(phone) {
padding: 0px;
            display: none;
        }
    }
}
.icon-tv{
    font-family: "dfont" !important;
    font-size: 14px;
    color: black !important;
    @include media(phone){
        font-size: 12px;
    }
    &:hover{
        color: black !important;
    }
    &:before {
        color: black !important;
        content: "\e901";
        &:hover{
            color: black !important;
        }

    }
}