@import "../../styles/variables/mixins";

.main-layout {
    .layout-nav-col {
        width: 100%;

        @include media(phone) {
            background-color: black;
        }
    }

    .main-layout-col {
        display: flex;

        @include media(phone) {
            margin-top: 0px;
            margin-right: 0%;
        }

        .main-layout-sider {
            width: 280px;

            @include media(tablet) {
                width: 210px;
            }

            @include media(phone) {
                display: none;


            }

        }

        .main-layout-content {
            width: calc(100% - 280px);
padding-left: 5px;
            @include media(tablet) {
                width: calc(100% - 210px);
                padding-left: 0px;
            }

            // margin-top: 4.1px;
            @include media(phone) {
                width: calc(100% - 0px);
                padding-left: 0px;

            }
        }
    }
}