@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.select {
    width: 25%;

}



.activity-log-form {


    .date-filter-row {
        @include media(phone) {
            flex-direction: column;
        }

        .date-picker {
            border: 1px solid #dbdbdb;
            height: 38px;
            width: 16.66666667%;
            // border-radius: 2px;
            overflow: hidden;

            @include media(phone) {
                width: 100%;
            }

            .react-datepicker-wrapper {
                @include media(phone) {
                    width: 100%;
                }

            }

            .react-datepicker__calendar-icon {
                font-size: 17px;
            }

            .react-datepicker__view-calendar-icon input {

                padding: 6px 10px 5px 7px;
                width: 100%;
                outline: none;

            }
        }
        .select-menu{
            select{
                background: transparent !important;

            }
            @include media(phone) {
                width: 100% !important;
                
            }
        }
    }

    .entries-row {
        @include media(phone) {
            display: flex;
            font-size: 12px;
            
        }
        .entries-left-col {
            select {
                padding: 5px 2px 5px 2px;
                width: 20%;
                border: none;
                border: 1px solid #dbdbdb !important;
                background: transparent;
                outline: none;


                @include media(phone) {
                    width: 50%;
                    padding: 5px;
                    border: 0;
                    border-right: 4px solid transparent;
                }
            }
        }

        .entries-right-col {
            display: flex;
            @include media(phone) {
                padding-left: 5%;
                
            }
            input{
                width: 100px;
                border-radius: 0;
                @include media(phone) {
                   width: 68%;
                    
                }
            }
        }
    }

    .mt2 {
        .table-bordered {
            @include media(phone) {
                width: 100%;

                tr,
                th {
                    padding: none !important;
                }
            }
        }
    }
}

.form-btn {
    width: 16.66666667% ;

    @include media(phone) {
        width: 100% !important;
    }

    .btn {
        width: 100%;
        background-color: $black;
        color: #FFFFFF;
        border-color: $black;
        height: 38px;
        padding: .375rem .75rem;
        font-size: 1rem;
        // border-radius: .25rem;
    }
}

.calnder {
    position: absolute;
    right: 0%;
    top: 0%;
}

.statement-body {
    .account-table {
        overflow-x: scroll;

        table {
            tr {
                th {
                    white-space: nowrap;
                    background-color: #384b5e;
                    color: $white;
                    text-align: left;
                }

                td {
                    white-space: nowrap;
                }
            }
        }
    }
}