@import '../../styles//variables//mixins';
.responsibleGaming-sec{
    width: 85%;
    margin: auto;
@include media (phone){
    width: 90%;
}
    .res-logo{
        width: 300px;
// height: 100px;
margin: 20px auto;

background:  #0088CC;

    }
    .Res-title{
        font-size: 20px;
        font-weight: 800;
    }
    h4{
        font-weight: bold;
        margin-top: 10px;
    }
}