@import "../../styles/variables/mixins";
@import "../../styles/variables/colors";

.game-market {
    margin-top: 8px;

    @include media(phone) {
        margin-top: 0px;
    }

    .market-title {
        background-color: #2C3E50D9;
        color: $white;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: bold;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        span {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include media(phone){
                font-size: 12px;
            }
        }
    }

    .odds-row-container {
        width: 100%;
        background-color: #f2f2f2;

        .odds-row-left-col {
            width: 55%;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            span {
                font-size: 17px;
            }

            @include media(phone) {
                width: 28%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                display: inline-block;
                font-weight: bold;

            }

            p {
                margin: 0%;
                padding: 0%;
                font-size: 12px;
                font-weight: bold;
                color: #097c93;
            }
        }

        .odds-row-right-col {
            width: 45%;

            @include media(phone) {
                width: 72%;
            }
        }
    }

    .fancy-row-container {
        width: 100%;
        background-color: #f2f2f2;
        border-bottom: 0.01em solid #c7c8ca;
        &:nth-child(1){
            border-bottom: none;

        }

        .odds-row-left-col {
            width: 50%;
            font-size: 13px;
            @include media(phone){
                // font-weight: bold;
            }

            p {
                margin: 0%;
                padding: 0%;
                font-size: 12px;
                font-weight: bold;
                color: #097c93;
            }
        }

        .odds-row-right-col {
            width: 50%;

            .fancy-min-max {
                display: flex;
                flex-direction: column;

                font-size: 10px;
                font-weight: bold;
                justify-content: center;
                margin-left: 8%;
                color: #097CAC;

                @include media(phone) {
                    display: none;
                }
            }
        }
    }
}

.second-odd-header {
    @include media(phone) {
        display: none;
    }
}

.market-odd-box {
    width: 100% !important;
    padding: 2px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    cursor: pointer;

    .market-odd {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
        line-height: 1;

        @include media(phone) {
            font-size: 14px;
            ;
        }
    }

    .market-volume {
        font-size: 12px;
        font-weight: 100;
        line-height: 1;

        @include media(phone) {
            font-size: 11px;
        }
    }
}

.suspend {
    background-color: #373636d6;
    text-transform: uppercase;
    font-size: 14px;
    @include media(phone){
        font-size: 12px;
    }
}

.market-4 {
    margin-left: 0%;
    margin-right: 0%;
    min-width:calc(100% - 0px);
   
    .odds-row-container {
        @include media(phone) {

            flex-direction: row;
        }
    }
}
.profit-loss{
    font-size: 12px !important;
    font-weight: 400;
}