@import "../../styles/variables/mixins";
.casino-list-item{
    width: 100%;
    cursor: pointer;
    position: relative;
  
    margin-left: 0px; 
         margin-right: 0px;
         margin-bottom: 0px;
      
    
.casino-list-item-banner{
    background-position: 50%;
    background-size: cover;
    padding-top: 100%;
    @include media(phone){
        height: 0%;
        background-position: 50%;
        background-size: cover;
        padding-top: 100%;
    }
}
}